.mainbody{
    background-color:#D2B48C;;
    width:1000pix
}

.mainbox {
    float:right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:640px;
    height:426px;
    background-image:url("./picture/home-office-336373_1280.jpg");

}

.menubox{
    text-align: center;
    float: left;
}

.othermenu{
}

.roombox {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 900px;
    height:650px;
    position: relative;
}

.character {
    position: absolute;
    top:80%;
    left:65%;
}

.character2 img{
    position: absolute;
    width: auto;
    height: 250px;
    top:35%;
    left:65%;
}
